.wrapper .main_containt{
    margin-left: 280px;
    height: auto;
    position: relative;
}

.wrapper .main_containt .task_list, .notice_list{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    padding:10px;
    font-size: 20px;
    text-align: center;
}

.wrapper .main_containt .task_list table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.wrapper .main_containt .task_list table th, td{
    width: auto;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 18px;
}

.wrapper .main_containt .task_list .delete_btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.wrapper .main_containt .task_list .delete_btn i{
    color: rgb(180, 0, 0);
}

.wrapper .main_containt .notice_list table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.wrapper .main_containt .notice_list table th, td{
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 18px;
}

.wrapper .main_containt .notice_list .delete_btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.wrapper .main_containt .notice_list .delete_btn i{
    color: rgb(180, 0, 0);
}
